html {
  height: 100%;
}

body {
  padding-top: 50px;
  overflow: hidden;
  height: 100%;
}

#wrapper {
  min-height: 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  display: inline-block;
}
#main-wrapper {
  height: 100%;
  overflow-y: auto;
  padding: 50px 0 0px 0;
}
#main {
  position: relative;
  height: 100%;
  overflow-y: auto;
  padding: 0 15px;
}
#sidebar-wrapper {
  height: 100%;
  padding: 0px 0 0px 0;
  position: fixed;
  border-right: 1px solid lightgray;
}
#sidebar-wrapper2 {
  height: 100%;
  padding: 0px 0 0px 0;
  position: fixed;
  border-right: 1px solid lightgray;
  left: 16.66666667%;
}
.sidebar-header {
  padding-left: 10px;
  /*background: lightgray;*/
  border-bottom: 1px solid gray;
}
.sidebar {
  position: relative;
  height: 100%;
  overflow-y: auto;
}
.sidebar .list-group-item {
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}
.float-button {
  position: absolute; 
  top: 8px; 
  right: 8px
}

.row {
  /*width: calc (100% - 40px - (15px * 2));*/
  /*width: 1130px;*/
  /*left: 30px;*/
  /*margin-left: 0px;*/
  /*margin: 0px;*/
}

.left-menu {
  width: 40px;
  height: 100%;
  float: left;
  background: lightgray;
  margin:auto;
}

.ace_editor {
  position: absolute;
  top: 0;
  left:0;
  width:100%;
  height:100%;
}

#editorPanes {
  left:0;
  bottom:0;
  right:0;
  top:0;
  height:calc(100% - 52px);
}

#orceditor {
  height:100%;
}

.panel {
  position: fixed;
  top:86px;
  bottom:0;
  width:calc(66% - 20px);
}

/*@media (max-width: 992px) {*/
/*  body {*/
/*    padding-top: 0px;*/
/*  }*/
/*}*/
/*@media (min-width: 992px) {*/
/*  #main-wrapper {*/
/*    float:right;*/
/*  }*/
/*}*/
/*@media (max-width: 992px) {*/
/*  #main-wrapper {*/
/*    padding-top: 0px;*/
/*  }*/
/*}*/
/*@media (max-width: 992px) {*/
/*  .sidebar-wrapper {*/
/*    position: static;*/
/*    height:auto;*/
/*    max-height: 300px;*/
/*    border-right:0;*/
/*  }*/
/*}*/
