<h1>Editing Profile</h1>

<p>Currently there is nothing to edit at this time. There will be more to do here in future versions of the notebook.</p>

<%# render 'form' %>

<%#<%= link_to 'Show', @user %> 
<%#<%= link_to 'Back', users_path %>
