<h1>About</h1>

<p>The Csound Notebook Server is an online notebook for you to create, perform,
and share Csound projects. To render projects, you will need to use Google
Chrome or Chromium browsers that support <a
href="https://developers.google.com/native-client/dev/">Portable Native Client
(pNaCl)</a>. No prior installation of Csound is necessary, as the site will use
the pNaCl version of Csound.  </p>

<h2>User Guide</h2>

