<h1>About</h1>

<p>The Csound Notebook Server is an online notebook for you to create, perform,
and share Csound projects. To render projects, you will need to use Google
Chrome or Chromium browsers that support <a
href="https://developers.google.com/native-client/dev/">Portable Native Client
(pNaCl)</a>. No prior installation of Csound is necessary, as the site will use
the pNaCl version of Csound.  </p>

<h2>User Guide</h2>

<p><i>This is a basic introduction. A more developed manual to be written shortly.</i></p>

<ul>
  <li>Create a Notebook using the + button in the left hand column.</li>
  <li>Delete a Notebook using the - button.</li>
  <li>Select a Notebook and its notes will load in the second column.</li>
  <li>Create a new Note using the + button. The Note's properties will be in the right-hand editor pane.</li>
  <li>Use the Play button to start Csound. Use the Evaluate button to load the ORC code or SCO code, depending on what tab is currently visible. If there is a selection of text, only the selected text will be evaluated. You can also evaluate using the shift-enter shortcut.</li>
  <li>Be sure to Save the note or it will be lost! (The app will eventually track if things have been edited and if so, to warn the user to save the note.  This is not yet implemented.)</li>
</ul>

<h2>Change Log</h2>

<p><b>0.2</b> - 2014.04.18</p>
<ul><li>Added ACE text editor</li></ul>

<p><b>0.1</b> - 2014.04.16</p>
<ul><li>Initial Release</li></ul>

<h2>Credits</h2>

<ul>
  <li>Steven Yi</li>
</ul>
