
<div class="jumbotron">
  <div class="container">
    <h1>Welcome to the Csound Notebook!</h1>
    <p>Edit, render, and organize Csound notes, all online, all without having Csound installed.</p>
    <p><a class="btn btn-primary btn-lg" role="button" href="about.html">Learn more &raquo;</a></p>
  </div>
</div>

