<h1>About</h1>

The Csound Notebook Server is an online notebook for you to create, perform, and share Csound projects. Csound runs without installation with Google Chrome or Chromium browsers that support Portable Native Client (PNaCl). 
