

<div role="main" class="container main-body" ng-controller="NotebooksController">
  <div class="row">
    <div  class="col-md-2">
      <h4>Notebooks <button ng-click="addNotebook()">+</button></h4>
      
      <div ng-repeat="notebook in notebooks" ng-click="selectNotebook(notebook);"
        ng-class="getNotebookClass(notebook)">
          {{notebook.name}}
      </div>

    </div>

    <div class="col-md-2">
      <h4>{{currentNotebook.name}} <button ng-click="newNote(currentNotebook.id)">+</button></h4>
                <div ng-repeat="note in notes" ng-click="selectNote(note);">
          {{note.title}}
          </div>

    </div>

    <div class="col-md-8">

      Title: <input ng-model="note.title"/>

      <div class="btn-toolbar">
        <button id="playButton" type="button" class="btn btn-default">Play</button>
        <button id="evalButton" type="button" class="btn btn-default">Evaluate</button>
        <button id="saveButton" type="button" class="btn btn-default"
          ng-click="saveNote(note)">Save</button>
        <button id="deleteButton" type="button" class="btn btn-default"
          ng-click="deleteNote(note)">Delete</button>
      </div>


      <tabset>
        <tab heading="ORC" id="orc_tab">
          <textarea cols="80" rows="20" id="orc_code"
            style="width:100%" ng-model="note.orc" ></textarea>
        </tab>

        <tab heading="SCO" id="sco_tab">
          <textarea cols="80" rows="20" style="width:100%" 
            ng-model="note.sco" id="sco_code"></textarea>
        </tab>

        <tab heading="Console">
          <textarea class="console" cols="80" rows="20" id="console"
            style="width:100%">Csound: not loaded</textarea>
        </tab>

        <tab heading="Help">
          <div>
          <h4>Shortcuts</h4>
          <ul>
            <li>shift-enter - evaluate selection or full text area if orc or sco tab is selected</li>
          </ul>
          </div>
        </tab>
      </tabset>

  </div>

</div>



<!--pNaCl csound module-->
<div id="engine"></div>

