

<div role="main" class="container main-body" ng-controller="NotebooksController">
  <div class="row">
    <div  class="col-md-2">
      <h4>Notebooks <button ng-click="addNotebook()">+</button></h4>
      
      <div ng-repeat="notebook in notebooks" ng-click="selectNotebook(notebook);"
        ng-class="getNotebookClass(notebook)">
          {{notebook.name}}
      </div>

    </div>

    <div class="col-md-2">
      <h4>{{currentNotebook.name}} <button ng-click="newNote(currentNotebook.id)">+</button></h4>
                <div ng-repeat="note in notes" ng-click="selectNote(note);">
          {{note.title}}
          </div>

    </div>

    <div class="col-md-8">

      Title: <input ng-model="note.title"/>

      <div class="btn-toolbar">
        <button id="playButton" type="button" class="btn btn-default">Play</button>
        <button id="evalButton" type="button" class="btn btn-default">Evaluate</button>
        <button id="saveButton" type="button" class="btn btn-default"
          ng-click="saveNote(note)">Save</button>
        <button id="deleteButton" type="button" class="btn btn-default"
          ng-click="deleteNote()">Delete</button>
      </div>

      <ul class="nav nav-tabs">
        <li class="active" id="editorTab0"><a href="javascript:showTab(0);">Orc</a></li>
        <li id="editorTab1"><a href="javascript:showTab(1);">Sco</a></li>
        <li id="editorTab2"><a href="javascript:showTab(2);">Console</a></li>
        <li id="editorTab3"><a href="javascript:showTab(3);">Help</a></li>
      </ul>

<textarea class="ng-show" cols="80" rows="20" id="orc_code"
  style="width:100%" ng-model="note.orc" ></textarea>
<textarea class="ng-hide" cols="80" rows="20" style="width:100%" 
  ng-model="note.sco" id="sco_code"></textarea>
<textarea class="ng-hide console" cols="80" rows="20" id="console"
  style="width:100%">Csound: not loaded</textarea>

<div class="ng-hide" id="help">
  <h4>Shortcuts</h4>
  <ul>
    <li>shift-enter - evaluate selection or full text area if orc or sco tab is selected</li>
  </ul>

    </div>
  </div>

</div>



<!--pNaCl csound module-->
<div id="engine"></div>

