


<div class="btn-toolbar">
  <button type="button" class="btn btn-default">Play</button>
  <button type="button" class="btn btn-default">Stop</button>
  <button type="button" class="btn btn-default">Evaluate</button>
</div>


<ul class="nav nav-tabs">
  <li class="active"><a href="#">Orc</a></li>
  <li><a href="#">Sco</a></li>
  <li><a href="#">Console</a></li>
</ul>

  <textarea class="console" cols="55" rows="13" id="console"
  value="">Csound: not loaded</textarea>
  <!--pNaCl csound module-->
  <div id="engine"></div>

