<div class="container-fluid">
<div class="row" ng-controller="NotebooksController" ui-keydown="{'shift-enter':'handleShortcut($event)'}">
  
  <div id="sidebar-wrapper" class="col-md-2">

    <div class="sidebar-header">
      <h4>Notebooks</h4> 
      <button ng-click="addNotebook()" class="float-button">+</button></h4>
  </div>

    <div class="sidebar">
      <ul class="nav list-group">
        <li ng-repeat="notebook in notebooks" 
        >
        <a class="list-group-item" ng-click="selectNotebook(notebook);"
          ng-mouseenter="showMenuButton('test');"
          ng-mouseleave="hideMenuButton(this);"
          >
          <i class="icon-home icon-1x"></i>{{notebook.name}}</a>
        <button ng-show="notebook.id > 0" ng-click="deleteNotebook(notebook)" class="float-button" >-</button></h4>
        </li>
      </ul>
    </div>
  </div>

  <div id="sidebar-wrapper2" class="col-md-2">
    <div class="sidebar-header">
      <h4>{{currentNotebook.name}}</h4>
      <button ng-click="newNote(currentNotebook.id)" class="float-button">+</button></h4>
  </div>

    <div class="sidebar">
      <ul class="nav list-group">
        <li ng-repeat="note in notes">
        <a class="list-group-item" ng-click="selectNote(note);">
          <i class="icon-home icon-1x"></i>{{note.title}}</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-8 pull-right" style="height: 100%" ng-show="note != null">

    <div style="margin: 5px">
      Title: <input ng-model="note.title"/> <input type="checkbox" ng-model="note.public"/> Public  
      <a ng-show="note.public" href="{{publicURL()}}" target="_blank">{{publicURL()}}</a>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading" >

        <div id="editorButtons" class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-primary btn-sm active" id="orcButton" ng-click="selectTab($event)">ORC</button>
          <button type="button" class="btn btn-primary btn-sm" id="scoButton" ng-click="selectTab($event)">SCO</button>
          <button type="button" class="btn btn-primary btn-sm" id="consoleButton" ng-click="selectTab($event)">Console</button>
          <button type="button" class="btn btn-primary btn-sm" id="helpButton" ng-click="selectTab($event)">Help</button>
        </div>


        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-primary btn-sm" id="exportCSDButton" ng-click="exportCSD()">Download CSD</button>
        </div>

        <div class="btn-group pull-right" role="group" aria-label="...">
          <button id="playButton" type="button" class="btn btn-primary btn-sm" ng-click="togglePlay()">Play</button>
          <button id="evalButton" type="button" class="btn btn-primary btn-sm" ng-click="evalCsoundCode()">Evaluate</button>
          <button id="saveButton" type="button" class="btn btn-primary btn-sm"
            ng-click="saveNote(note)">Save</button>
          <button id="deleteButton" type="button" class="btn btn-primary btn-sm"
            ng-click="deleteNote(note)">Delete</button>
        </div>

        <div id="scoreOptions" ng-show="scoActive">
          <input type="checkbox" ng-model="note.livesco"/> Live Score
        </div>
      </div>

      <div id="editorPanes">
        <div id="orcEditor" 
             ui-ace="{onLoad: orcTextLoaded, mode: 'csound'}" 
             ng-model="note.orc"></div>
        <div id="scoEditor" 
             ui-ace="{onLoad: scoTextLoaded }" 
             ng-model="note.sco" 
        style="display:none"></div>
        <textarea class="console" cols="80" rows="20" id="consoleText"
            style="width:100%;display:none;height:100%"></textarea>

        <div style="display:none; padding: 10px">
          <h4>Shortcuts</h4>
          <ul>
            <li><kbd>shift-enter</kbd> - evaluate selection or full text area if orc or sco tab is selected</li>
          </ul>
        </div>
      </div>
    </div>

  </div>

</div>

</div>

