
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">  
      <!-- TOGGLE BUTTON -->
      <button class="navbar-toggler navbar-toggler-right" 
              type="button" 
              data-toggle="collapse" 
              data-target="#navbarNavAltMarkup" 
              aria-controls="navbarNavAltMarkup" 
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- BRAND -->
      <a class="navbar-brand" href="/">Csound Notebook</a>

      <!-- LINKS -->
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      </div>

      {% if logged-in %}

      <a class="nav-item navbar-text" href="/user/logout">Logout</a>
      {% else %}
      <a class="nav-item navbar-text" href="/user/login">Login</a>
      {% endif %}
    </nav>
