
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">  
      <!-- TOGGLE BUTTON -->
      <button class="navbar-toggler navbar-toggler-right" 
              type="button" 
              data-toggle="collapse" 
              data-target="#navbarNavAltMarkup" 
              aria-controls="navbarNavAltMarkup" 
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- BRAND -->
      <a class="navbar-brand" href="/">Csound Notebook</a>

      <!-- LINKS -->
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav mr-auto" id="topNavBar">
          <li class="nav-item">
            <a href="/" class="nav-link"><i aria-hidden="true" class="fa fa-plus"></i> Note</a> 
          </li>
        </ul>

      {% include "userbox.html" %}
      </div>


    </nav>
