
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">  
      <!-- TOGGLE BUTTON -->
      <button class="navbar-toggler navbar-toggler-right" 
              type="button" 
              data-toggle="collapse" 
              data-target="#navbarNavAltMarkup" 
              aria-controls="navbarNavAltMarkup" 
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- BRAND -->
      <a class="navbar-brand" href="/">Csound Notebook</a>

      <!-- LINKS -->
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/note">+ New Note</a> 
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/notebook">My Notebook</a> 
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a> 
          </li>
        </ul>
      </div>
    </nav>
